[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
deadmansswitch = "BUE3LbNV3jkqGwE1E1ouvka3pcHuDvpLw4u9WT8oexxr"

[programs.devnet]
deadmansswitch = "BUE3LbNV3jkqGwE1E1ouvka3pcHuDvpLw4u9WT8oexxr"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
